<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ian R. Hefflefinger</title>
        <!-- FIXME: replace icon with H or something unique to ian hefflefinger -->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/style.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Ian Hefflefinger</span>
                <!-- FIXME: replacce image with your own image -->
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="images/profile.jpeg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Ian
                        <span class="text-primary">Hefflefinger</span>
                    </h1>
                    <div class="subheading mb-5">
                        Salt Lake City, UT · (603) 769-7419 ·
                        <a href="mailto:ianrhefflefinger@gmail.com">ianrhefflefinger@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Hello! I am a former Systems Administrator, current Computer Science student, and future Software Engineer. I strive to create full-stack solutions that are practical, testable, and beautiful.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/ian-hefflefinger-93a40a128/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/IanHefflefinger" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://www.hackerrank.com/ianrhefflefinge1" target="_blank"><i class="fab fa-hackerrank"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Software Developer Intern</h3>
                            <div class="subheading mb-3">Manic Kat Records</div>
                            <p>Modified UI/UX, corrected bugs, implemented new features, and established a better SDLC for a cross-platform mobile application developed by previous interns. Helped design, develop, and test a web-based admin site for the mobile app.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2021 - January 2022</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Support Engineer</h3>
                            <div class="subheading mb-3">Goldman Sachs</div>
                            <p>General Windows and Unix (RHEL) systems administration - managed users and computers. Automated tasks, when necessary, using various shell-scripting languages. Maintained knowledge-base by correcting or implementing new processes.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">September 2018 - February 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Technical Support Specialist</h3>
                            <div class="subheading mb-3">CSS Corp</div>
                            <p>Helped non-technical users with a wide array of computer and network related tasks. Mostly: removed malware, created data backups, configured networks, and configured email clients.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">June 2018 - September 2018</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Technical Support Specialist</h3>
                            <div class="subheading mb-3">Mercury Payments</div>
                            <p>Hardware, software, and network troubleshooting for card-payment solutions. Role also invloved fairly in-depth financial reconciliation to rule-out technical errors.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">March 2016 - November 2017</span></div>
                    </div>
                </div>
                <!-- FIXME: add a download resume link and add functionality -->
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Southern New Hampshire University</h3>
                            <div class="subheading mb-3">Bachelor of Science</div>
                            <div>Computer Science - concentration in Software Engineering</div>
                            <p>GPA: 3.82</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2017 - May 2022</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5" target="_blank"><i class="fab fa-html5"></i></a></li>
                        <li class="list-inline-item"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><i class="fab fa-css3"></i></a></li>
                        <li class="list-inline-item"><a href="https://getbootstrap.com/" target="_blank"><i class="fab fa-bootstrap"></i></a></li>
                        <li class="list-inline-item"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><i class="fab fa-js-square"></i></a></li>
                        <li class="list-inline-item"><a href="https://nodejs.org/en/" target="_blank"><i class="fab fa-node-js"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.npmjs.com/" target="_blank"><i class="fab fa-npm"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.java.com/en/" target="_blank"><i class="fab fa-java"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://git-scm.com/" target="_blank"><i class="fab fa-git-alt"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.geeksforgeeks.org/mongodb-vs-mysql/" target="_blank"><i class="fa-solid fa-database"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linux.org/" target="_blank"><i class="fab fa-linux"></i></a></li>
                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Mobile-First, Responsive Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            QA & Unit Testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Full-stack Integration
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            SDLC
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Portfolio -->
            <section class="resume-section" id="portfolio">
                <div class="resume-section-content">
                    <h2 class="mb-5">Portfolio</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                      <div class="flex-grow-1">
                        <!-- FIXME: technical page comes last as it is striclty front-end -->
                        <h3 class="mb-0">Technical Documentation Page</h3> 
                        <p>Technical Documentation Page was a <a href="https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-technical-documentation-page" target="_blank">responsive web design project</a> that I created for FreeCodeCamp. It is strictly front-end and comprised of HTML, CSS, and JavaScript (including Bootstrap). The page contains information of JavaScript and a responsive navigation panel. The content for this project was pre-existing and the project itself serves as an example of my CSS and HTML skills.</p>
                        <div class="subheading mb-3"><a href="https://github.com/IanHefflefinger/FreeCodeCampProjects/tree/master/ResponsiveWebDesignProjects/TechnicalDocumentationPage" target="_blank">see the code</a></div>
                        <div class="subheading mb-3"><a href="https://htmlpreview.github.io/?https://github.com/IanHefflefinger/FreeCodeCampProjects/blob/master/ResponsiveWebDesignProjects/TechnicalDocumentationPage/index.html" target="_blank">see it live</a></div>

                        <!-- FIXME: add other projects -->
                        <h3 class="mb-0">Steve's Mower Repair Services</h3>
                        <p>Steve's Mower Repair Services is a full-stack (less a database) re-creation of a <a href="https://github.com/IanHefflefinger/CS-499/tree/master/StevesWebsite/Before/Draft%20Site" target="_blank">project</a> I initially submitted in my web desgin course, early in my computer science program. The original application was written in HTML, CSS, and JavaScript. The modified version (re-designed for a course later in my program) of the site serves dynamic webpages from an Express.js app using ejs for templating and Bootstrap for formatting (and mobile responsiveness). The re-designed version of the app has a form with front and back-end data validation and proper routing/rendering to display success or error on the same page. The content was kept the same so the updated version of the site can be easily compared to the original version.</p>
                        <div class="subheading mb-3"><a href="https://github.com/IanHefflefinger/CS-499/tree/master/StevesWebsite/After/StevesWebsite" target="_blank">see the code</a></div>  

                        <h3 class="mb-0">Inventory Management System</h3>
                        <p>Inventory Management System is a total overhaul of a really simple <a href="https://github.com/IanHefflefinger/CS-499/tree/master/ApplesAndOranges/Before/Apples%20and%20Oranges" target="_blank">application</a> that I initialy created in my first week of my first CS course. The re-designed application is written in Java 8 and utilizes JDBC to interface with a MySQL database. The modified app uses data validation to ensure data integrity and contains full CRUD functionality. The new app is terminal-based, but displays content in an easy to read format.</p>
                        <div class="subheading mb-3"><a href="https://github.com/IanHefflefinger/CS-499/tree/master/ApplesAndOranges/After/InventoryManagementSystemWithDatabase" target="_blank">see the code</a></div>  



                      </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>When I'm not studying Computer Science and learning more about software development, you can find me outside in the mountains or the desert. I am an avid mountain biker, skiier, and climber and aim to see the world from new perspectives</p>
                    <p class="mb-0">Down here in the valley, you can also find me playing ultimate frisbee in beautiful Sugerhouse Park on Wednesdays or struggling to learn the guitar when I find a little free time.</p>
                </div>
            </section>
            <hr class="m-0" />
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>