<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Umm, I think I'm lost.</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/stylesheets/lost.css" rel="stylesheet" />
    </head>
    <body>
        <h1>404 - Page not found :(</h1>
        <h2>C'mon partner, lets go <a href="/">home</a>.</h2>
    </body>
</html>